.card-question {
    margin-inline: 20%;
    line-height: 50px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: white;
}

.carousel {
    overflow-y: hidden;
    height: 100vh;
    background-image: url('../assets/trivia-wallpape.png');
    background-size: cover;
    align-items: center;
}
.card-result {
    margin: 0 auto;
    text-align: center;
    max-height: 400px;
    padding: 10px;
    max-width: 500px;
    min-width: 300px;
    border-radius: 20px;
    overflow-y: scroll;
    background-color: #2F58CD ;
}

.font-nunito {
    font-family: 'Nunito', sans-serif;
    font-size: large;
    
}

.card-result::-webkit-scrollbar {
    -webkit-appearance: none;
}

.card-result::-webkit-scrollbar:vertical {
    width: 10px;
}

.card-result::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.card-result::-webkit-scrollbar-thumb {
    background-color: #928f8f;
    border-radius: 20px;
}

.card-result::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.btn-result {
    margin: 0 auto;
    display: flex;
}